html, body {
    margin: 0;
    height: calc(100% - 10px);
    text-align: center;
}

html {
  box-sizing: border-box;
  font-family: 'Orbitron', sans-serif;
  min-height: 460px;
  min-width: 640px;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

*, *:before, *:after {
  box-sizing: inherit;
}

h1 {
  margin: 10px auto 0 auto;
  font-size: 45px;
  font-weight: 900;
  min-width: 640px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

.wrapper {
  margin-top: 45.5px; 
  -ms-flex-preferred-size: 400px; 
      flex-basis: 400px;
  text-align: center;
}

.calc-box {
  width: 300px;
  margin: 10px auto 10px auto;
  padding: 15px;
  border-radius: 6px;
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  background-color: #000;
}

.screen {
  background-color: #657d62;
  text-align: right;
  border-radius: 4px;
}

h4 {
  margin: 0 16px;
  padding: 8px;
  font-size: 32px;
}

.buttons-container {
  margin: 25px 0 15px 0;
  font-family: Arial, sans-serif;
  font-size: 22px;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.button {
  padding: 10px 0;
  background-color: #928f8a;
  margin: 2px 0;
  -webkit-transition: background .25s ease-in-out;
  transition: background .25s ease-in-out;
  border-radius: 5px;
}

.button:hover {
  cursor: pointer; 
  cursor: hand;
  background-color: #666460;
}

.dark {background-color: #312c29}

.dark:hover {background-color: #5a5653}

.orange{background-color: #d96208}

.orange:hover {background-color: #e08139}

.big {-ms-flex-preferred-size: 133px;flex-basis: 133px;}

.small {-ms-flex-preferred-size: 64.5px;flex-basis: 64.5px;}
